.class_lotro_burglar {
	background: transparent url(../class_icons/lotro_burglar.png) left center no-repeat;
	padding-left: 20px; 
}

.class_lotro_captain {
	background: transparent url(../class_icons/lotro_captain.png) left center no-repeat;
	padding-left: 20px; 
}

.class_lotro_champion {
	background: transparent url(../class_icons/lotro_champion.png) left center no-repeat;
	padding-left: 20px; 
}

.class_lotro_guardian {
	background: transparent url(../class_icons/lotro_guardian.png) left center no-repeat;
	padding-left: 20px; 
}

.class_lotro_hunter {
	background: transparent url(../class_icons/lotro_hunter.png) left center no-repeat;
	padding-left: 20px; 
}

.class_lotro_lore_master {
	background: transparent url(../class_icons/lotro_lore_master.png) left center no-repeat;
	padding-left: 20px; 
}

.class_lotro_minstrel {
	background: transparent url(../class_icons/lotro_minstrel.png) left center no-repeat;
	padding-left: 20px; 
}

.class_lotro_rune_keeper {
	background: transparent url(../class_icons/lotro_rune_keeper.png) left center no-repeat;
	padding-left: 20px; 
}

.class_lotro_warden {
	background: transparent url(../class_icons/lotro_warden.png) left center no-repeat;
	padding-left: 20px; 
}
